
.container8 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    column-gap: 1%;
    row-gap: 2.5%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.container12 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    column-gap: 1%;
    row-gap: 2.5%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}