.hudPanel {
    position: absolute;
    top: 0;
    right: 0;
}


.show {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
}

.hide {
    display: none;
    /*visibility: hidden;*/
}
