
.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.textInputPanel {
    display: block;
    position: absolute;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subPanel {
    height: 100%;
    width: 100%;
    position: relative;
}

.textInput {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.assistPanel {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1rem;
    text-align: center;
    transform: translateY(-50%);
}

.lobbyButton {
    position: absolute;
    height: 80%;
    width: 10%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 1rem;
}

.playerNumDisplay {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 1rem;
}

.isDisabled {
    pointer-events: none;
    disabled: true;
    background-color: #000000;
}
