
.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.textInput {
    height: 80%;
    width: 75%;
    align-self: center;
    justify-self: center;
}

.isDisabled {
    pointer-events: none;
    background-color: #000000;
}
